/* CSS declarations go here */



body {
   padding-top: 70px;
   background-color: #393939;
   color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
 }
